@font-face {
    font-family: Rajdhani-Medium;
    src: url(../fonts/Rajdhani-Medium.ttf);
}
@font-face {
    font-family: Rajdhani-SemiBold;
    src: url(../fonts/Rajdhani-SemiBold.ttf);
}
input,label,option,select{
    font-family:  Rajdhani-SemiBold;
}


.login-wrapper form{
    background-color: white;
    padding: 40px;
   
}
.login-form-title{
    margin: auto;
    background-image: url(../img/fix2.jpg);
    background-size: 100% 100%;
    background-color:rgba(54,84,99,0.7);
    width: 100%;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 70px 15px 74px 15px;

   
}
.login-form-title::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(54,84,99,0.7);
}
.login-form-title-1 {
    font-family: Rajdhani-SemiBold;
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
}
.login-form{
    margin: auto;
    
}
 
 .login-wrapper .form-control {
    height: 50px;
    margin-bottom: 10px;
    border: none;
    transition: all 2s;
    border-bottom: rgb(163, 155, 155) solid .5px;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -ms-transition: all 2s;
    -o-transition: all 2s;
}
 .login-wrapper input:focus::placeholder{
    position: relative;
    top: -10px;
    border: none;   
}
.login-wrapper  input::placeholder{
    transition: all 2s
}
.login-wrapper .form-control:focus{
    outline: none ;
    border: none;
    border-bottom: rgb(163, 155, 155) solid .5px;
}

.login-wrapper .site-btn {
    font-size: 15px;
    color: #fff;
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: none;
    background: #052336;
    padding: 14px 30px 12px;
    width: 100%;
    margin-top: 10px;
}
.login-wrapper .site-btn:hover{
    color: #fff;
    background: #052336;
}
.login-wrapper .site-btn:focus{
    color: #fff;
    background: #052336;
}
.login-wrapper link {
    color: #ffc446 !important;
}
.login-wrapper label{
    color: gray;
}
.login-form select option{
    color: gray;
}

.react-datepicker-wrapper {
    width: 100%;
}